body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to top, LightGray, SteelBlue);
}

#inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#juego {
    position: relative; /* Importante para que z-index funcione en elementos hijos */
    width: 100vw;
    height: 100vh;
}

#helicoptero {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#botones {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10; /* Aseguramos que los botones estén encima */
}

    #botones button {
        padding: 0vw 0vw;
        margin: 0 10vw;
        font-size: 0vw;
    }

.target {
    position: absolute;
    width: 50px;
    height: 50px;
}

.cloud {
    position: absolute;
    width: 100px;
    height: 100px;
}

#puntuacion {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 4vw;
    color: black;
}

#fin-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.laser {
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: green;
}
