body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to top, white, skyblue);
}

#inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#juego {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#helicoptero {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#botones {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

    #botones button {
        padding: 2vw 8vw; /* Ajuste del padding horizontal */
        margin: 0 2vw;
        font-size: 3vw;
        touch-action: manipulation; /* Evita el desplazamiento */
        user-select: none; /* Evita la selección de texto */
    }

.target {
    position: absolute;
    width: 50px;
    height: 50px;
}

.cloud {
    position: absolute;
    width: 50px;
    height: 50px;
}

#puntuacion {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 4vw;
    color: black;
}

#fin-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.laser {
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: green;
}
